 body{
    font-family: 'Gorditas', cursive;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
    margin-top: 10%;
}

.col-lg-6{
	border: 25px solid;
	border-color: #ffffff;
	line-height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#red{
	background-color: #db3236;
}

#yellow{
	background-color: #F4D10D;
}

#green{
	background-color: #3cba54;
}

#blue{
	background-color: #4885ed;
}


.hide {
  display: none;
}

.show{
	display: block;
}

.black {
	color: #000000;
	transition: all 1s;
}

.fortune-show {
	opacity: 1 !important;
	transition: all 3s;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	padding: 5%;
	line-height: 150px;
	font-size: 3rem;

}

p{
	margin-top: 100px;
}

#red2{
	background-color: #db3236;
}

#yellow2{
	background-color: #F4D10D;
}

#green2{
	background-color: #3cba54;
}

#blue2{
	background-color: #4885ed;
}

#red3{
	background-color: #db3236;
}

#yellow3{
	background-color: #F4D10D;
}

#green3{
	background-color: #3cba54;
}

#blue3{
	background-color: #4885ed;
}

