 body{
    font-family: 'Gorditas', cursive;
    text-align: center;
    font-size: 4rem;
    color: #ffffff;
}

.col-lg-6{
	border: 2px solid;
	border-color: #000000;
	line-height: 150px;
}

#red{
	background-color: #db3236;
}

#yellow{
	background-color: #F4D10D;
}

#green{
	background-color: #3cba54;
}

#blue{
	background-color: #4885ed;
}